
<div class="bloque container">
    <div class="article-container">
        <div class="article-item uno">
                <div>
                        <video src="img/vegan.mp4"
                            width="350" height="400"
                            preload
                            autoplay
                            loop style="margin:-60px">
                            <p>Reasons to Go Vegan</p></video>
                    </div>
                <div class="informacion">
                <h2 class="nombre">It Helps Saves The Animals</h2>
                <p class="texto">This may obvious, but when you go vegan, you do contribute to saving some animals. Over 60 billion animals are slaughtered every year for dietary requirements; meat, dairy and eggs. In addition to that, not only are animals slaughtered for human consumption, but they are also slaughtered for cosmetic testing, entertainment, and clothing.
                <br/><br/>The term vegan was coined in 1944 by Donald Watson, who believed that man should live without exploiting animals. Though animal exploitation is still ever so prevalent today, veganism is on the rise. Compassionate people are realizing that there is no difference between a dog and a pig. It’s difficult for me to understand how someone can say that they love animals, yet still turn around and eat meat for dinner.</p>
            </div>
          
           
        </div>

        <div class="article-item dos">
            <div class="informacion">
                <h2 class="nombre">You Can Eat Lots of Yummy Foods</h2>
                <p class="texto">Contrary to popular belief, vegan food is not boring or “rabbit food”. In fact, since going vegan, I’ve been way more excited for meal times. For breakfast you can have things like chocolate nana ice cream, or vanilla chia pudding. You can also turn any non-vegan food into a vegan version. Example: vegan chicken, vegan cheese, vegan donuts, vegan ice cream, etc. It is not boring; it is vibrant, colourful, fun and healthy
                </p>
            </div>
            <img class="img-article" src="./img/13.jpg" alt="">
        </div>

        <div class="article-item tres">
            <div class="informacion">
                <br/><br/>
                <h2 class="nombre">It Can Prolong Your Life For A Number Of Reasons</h2>
                <p class="texto">Multiple studies have shown that vegans live six to ten years longer than those who eat meat. Individuals who eat meat are also twice as likely to develop heart disease and cancer than those who follow a vegan diet. When you cut out all animal proteins from your diet, your body is able to thrive on natural, plant based foods. Fruits, vegetables, nuts, grains, legumes, and many other plant based foods contain every single vitamin and nutrient that the human body needs to survive and thrive. 
                </p>
            </div>
            <img class="img-article" src="./img/16.jpg" alt="">
        </div>
    </div>

</div>
<div class="bloque container">
    <div class="article-container">
        <div class="article-item uno">
            <div class="informacion">
                <h2 class="nombre">It Can Aid In Clearing Your Skin</h2>
                <p class="texto">Obviously everybody’s skin is different, but for most people that go vegan, their skin clears up. Even if you didn’t think your skin was that bad before – it gets better, you will notice a glow. The first month I went vegan, my skin cleared up, my nails got stronger, my hair grew, and I just felt better overall. You feel glowing and radiant because your body knows what foods it thrives on, and which ones are harming it. Also, berries which are a great dietary staple have so many antioxidants that are amazing for your skin. (Also helps with melanoma/skin cancer)
                </p>
            </div>
            <img class="img-article" src="./img/14.jpg" alt="">
        </div>

        <div class="article-item dos">
            <div class="informacion">
                <h2 class="nombre">It Shrinks Your Ecological Footprint
                </h2>
                <p class="texto">Every environmentalist knows that going vegan or vegetarian shrinks your ecological footprint. The amount of resources (land, food, and water), it takes to produce the meat that humans eat is outrageous. 441 gallons of water are required to produce a pound of beef, vs only 22 pounds of water to produce one pound of tomatoes. Domesticated animals cause 32 billion tons of carbon dioxide equivalent (CO2e), more than the combined impact of industry and energy. Per day a vegan can save: 1100 gallons of water, 30 sq. ft of forest, 20 lbs of C02 from going into to atmosphere, and 1 animals life
                </p>
            </div>
            <img class="img-article" src="./img/18.jpg" alt="">
        </div>

        <div class="article-item tres">
            <div class="informacion">
                <h2 class="nombre">It Helps Opens You Spiritually And Mentally</h2>
                <p class="texto">Something shifts inside of you once you become vegan. It may not be in the first week, or even the first month, but after a while, you will notice a difference. You begin to appreciate nature and your surroundings. You see birds and chipmunks and want to bond with them. You see trees being cut down for construction and it breaks your heart. You feel spiritually connected to the earth; a bond you never noticed until you realized that you are just an earthling on this great planet. It gives you a better appreciation for what you have and all of your surroundings.
                </p>
            </div>
            <img class="img-article" src="./img/17.jpg" alt="">
        </div>
    </div>
   
</div>
<div class="bloque container">
        <div class="article-container">
            <div class="article-item uno">
                
                <div class="informacion">
                    <h2 class="nombre">You Can Eat Generally Without Worrying About Gaining ‘Bad’ Fat</h2>
                    <p class="texto">Like stated previously, plant based foods do not contain saturated fats and cholesterol, meaning that they are 100% healthy for you. Some people may believe that chicken or egg whites are good for you, but trust me, they’re not. Eat a diet consisting of wholesome fruits and vegetables, and tell me how good you feel after eating each meal. No more stress; no more worries.
                    </p>
                </div>
                <img class="img-article" src="./img/15.jpg" alt="">
            </div>
    
            <div class="article-item dos">
                <div class="informacion">
                    <h2 class="nombre">You Are Participating In Changing The World
                    </h2>
                    <p class="texto">All of these things stated in this article require a large amount of people to make a large-scale difference. By one person going vegan, you can make a difference. You can help save the planet and the animals, and overall make a positive change in this world.
                    </p>
                </div>
                <img class="img-article" src="./img/11.jpeg" alt="">
            </div>
    
            <div class="article-item tres">
                <div class="informacion">
                    <h2 class="nombre">It May Provide You With A Clear Conscious</h2>
                    <p class="texto">ou never feel guilty for eating the wrong foods. You never feel guilty or responsible for taking a life. You never feel obligated to change your diet because of Global Warming. The foods you are eating and the decisions you are making are directly having an entirely beneficial impact for this planet, and that is all thanks to you. So now you can go to sleep with a happy conscious.
                    </p>
                    <br/>
                    <h2 class="nombre">Go Vegan? Why not?</h2>
                </div>
                <img class="img-article" src="./img/12.jpg" alt="">
                
            </div>
            
        </div>
       
    </div>

