<section class="article-list ideal">
    <div class="ui-status ideal">
        <article class="post">
            <a href="detail.html">
                <img class="articleimg" src="img/1.jpg" alt="">
            </a>
            <div class="articletit">10 Reasons to go vegan</div>
            <a href="detail.html"><div class="more">Read more...</div></a>
        </article>
        
        <article class="post">
            <a href="detail.html"><img class="articleimg" src="img/2.jpg" alt=""></a>
            <div class="articletit">How to make organic bread</div>
            <a href="detail.html"> <div class="more">Read more...</div></a>
        </article>
        
        <article class="post">
            <a href="detail.html"><img class="articleimg" src="img/3.jpg" alt=""></a>
            <div class="articletit">Lentils salad</div>
            <a href="detail.html"> <div class="more">Read more...</div></a>
        </article>
        
        <article class="post">
            <a href="detail.html"><img class="articleimg" src="img/4.jpg" alt=""></a>
            <div class="articletit">Spinach salad</div>
            <a href="detail.html"> <div class="more">Read more...</div></a>
        </article>
        
        <article class="post">
            <a href="detail.html"> <img class="articleimg" src="img/5.jpg" alt=""></a>
            <div class="articletit">Chickpea salad</div>
            <a href="detail.html"> <div class="more">Read more...</div></a>
        </article>
        
        <article class="post">
            <a href="detail.html"> <img class="articleimg" src="img/6.jpg" alt=""></a>
            <div class="articletit">Vegan sweet crepes</div>
            <a href="detail.html"> <div class="more">Read more...</div></a>
        </article>
        
        <article class="post">
            <a href="detail.html"> <img class="articleimg" src="img/7.jpg" alt=""></a>
            <div class="articletit">Healthy DIY gazpacho</div>
            <a href="detail.html"> <div class="more">Read more...</div></a>
        </article>
        
        <article class="post">
            <a href="detail.html"> <img class="articleimg" src="img/8.jpg" alt=""></a>
            <div class="articletit">Vegan Sunday</div>
            <a href="detail.html"> <div class="more">Read more...</div></a>
        </article>
        
        <article class="post">
            <a href="detail.html"> <img class="articleimg" src="img/9.jpg" alt=""></a>
            <div class="articletit">How to make vegan pesto</div>
            <a href="detail.html">  <div class="more">Read more...</div></a>
        </article>
        
        <article class="post">
            <a href="detail.html"></a><img class="articleimg" src="img/10.jpg" alt=""></a>
            <div class="articletit">The power of strawberries</div>
            <a href="detail.html"> <div class="more">Read more...</div></a>
        </article>
        
    </div>
    
</section>